<launch>

    <include file="$(find stereo_feature_extraction)/launch/manager_camera_image_proc_extractor.launch" />

    <node name="image_view" pkg="image_view" type="image_view" output="screen">
        <remap from="image" to="/forward_stereo_camera/stereo_features_debug_image" />
    </node>


</launch>

