<launch>
    
    <node pkg="nodelet" type="nodelet" name="image_services_manager" 
        args="manager" output="screen"/>

    <group ns="/forward_stereo_camera/">
        <node pkg="nodelet" type="nodelet" name="stereo_feature_extractor"
            args="load stereo_feature_extraction/stereo_feature_extractor /image_services_manager"
            output="screen">
            <param name="max_y_diff" value="1.0" />
            <param name="max_angle_diff" value="2.0" />
            <param name="max_size_diff" value="1" />
            <param name="feature_extractor" value="SURF" />
            <param name="visualize" value="true" />
        </node>
     </group>

</launch>

