<launch>
  <arg name="manager" default="manager" />
  <arg name="standalone" default="false" />
  <arg name="image" />
  <arg name="show_image" default="true" />
  <arg name="detector" default="SmartSURF" />
  <arg name="extractor" default="SmartSURF" />
  <arg name="max_num_key_points" default="500" />

  <arg if="$(arg standalone)"     name="nodelet_args" value="standalone feature_extraction/FeatureExtractor" />
  <arg unless="$(arg standalone)" name="nodelet_args" value="load feature_extraction/FeatureExtractor $(arg manager)" />

  <node name="feature_extractor" pkg="nodelet" type="nodelet" args="$(arg nodelet_args)" output="screen" >
    <remap from="image" to="$(arg image)" />
    <param name="max_num_key_points" value="$(arg max_num_key_points)" />
    <param name="key_point_detector" value="$(arg detector)" />
    <param name="descriptor_extractor" value="$(arg extractor)" />
    <param name="show_image" value="$(arg show_image)" />
  </node>

</launch>
