<launch>
    <node pkg="nodelet" type="nodelet" name="image_services_manager" 
        args="manager" output="screen"/>

    <group ns="/forward_stereo_camera/">
        <node pkg="stereo_image_proc" name="stereo_image_proc" 
        type="stereo_image_proc"/>

        <node pkg="nodelet" type="nodelet" name="stereo_feature_extractor"
            args="load stereo_feature_extraction/stereo_feature_extractor /image_services_manager"
            output="screen">
            <param name="max_y_diff" value="1.0" />
            <param name="max_angle_diff" value="2.0" />
            <param name="max_size_diff" value="1" />
            <param name="feature_extractor" value="SURF" />
            <param name="visualize" value="true" />
        </node>
     </group>

    <node name="player" pkg="rosbag" type="play" args="-l $(env ROS_BAGFILES_PATH)/keyboard_box_narrow_2011-05-26-15-28-33.bag" />

    <node name="rviz" pkg="rviz" type="rviz" />


</launch>

