<launch>
    <include file="$(find stereo_feature_extraction)/launch/extractor_with_manager.launch" />

    <group ns="/forward_stereo_camera/">
        <group ns="left">
            <node pkg="nodelet" type="nodelet" name="image_proc_debayer_left" 
                args="load image_proc/debayer /image_services_manager" 
                output="screen"/>
            <node pkg="nodelet" type="nodelet" name="image_proc_rectify_left"
                args="load image_proc/rectify /image_services_manager" 
                output="screen"/>
        </group>
        <group ns="right">
            <node pkg="nodelet" type="nodelet" name="image_proc_debayer_right" 
                args="load image_proc/debayer /image_services_manager" 
                output="screen"/>
            <node pkg="nodelet" type="nodelet" name="image_proc_rectify_right"
                args="load image_proc/rectify /image_services_manager" 
                output="screen"/>
        </group>
        </node>
     </group>

</launch>

