<launch>
    <node pkg="nodelet" type="nodelet" name="image_services_manager" 
        args="manager" output="screen"/>

    <group ns="/forward_stereo_camera/">
        <group ns="left">
            <node pkg="nodelet" type="nodelet" name="image_proc_debayer_left" 
                args="load image_proc/debayer /image_services_manager" 
                output="screen"/>
            <node pkg="nodelet" type="nodelet" name="image_proc_rectify_left"
                args="load image_proc/rectify /image_services_manager" 
                output="screen"/>
        </group>
        <group ns="right">
            <node pkg="nodelet" type="nodelet" name="image_proc_debayer_right" 
                args="load image_proc/debayer /image_services_manager" 
                output="screen"/>
            <node pkg="nodelet" type="nodelet" name="image_proc_rectify_right"
                args="load image_proc/rectify /image_services_manager" 
                output="screen"/>
        </group>

        <node pkg="nodelet" type="nodelet" name="stereo_feature_extractor"
            args="load stereo_feature_extraction/stereo_feature_extractor /image_services_manager"
            output="screen">
            <param name="max_y_diff" value="1.0" />
            <param name="max_angle_diff" value="2.0" />
            <param name="max_size_diff" value="1" />
            <param name="feature_extractor" value="SURF" />
            <param name="visualize" value="true" />
        </node>
     </group>

</launch>

