<launch>

    <!-- launch arguments -->
    <arg name="camera" />

    <node pkg="nodelet" type="nodelet" name="image_services_manager" args="manager" output="screen" />

    <include file="$(find stereo_feature_extraction)/launch/stereo_feature_extractor.launch">
        <arg name="camera" value="$(arg camera)" />
        <arg name="manager" value="/image_services_manager" />
    </include>

</launch>

