<launch>

  <node name="manager" pkg="nodelet" type="nodelet" args="manager" />

  <node name="feature_extractor_left" pkg="nodelet" type="nodelet" args="load feature_extraction/FeatureExtractor manager">
    <remap from="image" to="camera_flex_wide/left/image_rect" />
    <param name="show_image" value="true" />
    <param name="max_num_key_points" value="5000" />
  </node>

  <node name="feature_extractor_right" pkg="nodelet" type="nodelet" args="load feature_extraction/FeatureExtractor manager">
    <remap from="image" to="camera_flex_wide/right/image_rect" />
    <param name="show_image" value="true" />
    <param name="max_num_key_points" value="5000" />
  </node>

  <node name="stereo_feature_extractor" pkg="nodelet" type="nodelet" args="standalone stereo_feature_extraction/StereoFeatureMatcher" output="screen" >
    <remap from="features_left" to="feature_extractor_left/features" />
    <remap from="features_right" to="feature_extractor_right/features" />
    <remap from="camera_info_left" to="camera_flex_wide/left/camera_info" />
    <remap from="camera_info_right" to="camera_flex_wide/right/camera_info" />
    <param name="min_depth" value="0.0" />
    <param name="max_depth" value="2000.0" />
    <param name="max_y_diff" value="5000.0" />
    <param name="max_angle_diff" value="500" />
    <param name="max_size_diff" value="10000" />
    <param name="matching_threshold" value="1.0" />
  </node>

</launch>
