<launch>

  <node name="vision_manager" pkg="nodelet" type="nodelet" args="manager" output="screen" />

  <include file="$(find fugu_configurations)/launch/stereo_image_proc.launch">
    <arg name="manager" value="/vision_manager" />
    <arg name="stereo" value="camera_flex_wide" />
  </include>

  <include file="$(find stereo_feature_extraction)/launch/visual_altimeter.launch">
    <arg name="manager" value="/vision_manager" />
    <arg name="stereo" value="camera_flex_wide" />
    <arg name="show_image" value="true" />
  </include>

</launch>
